<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="438" border="1">
    <tr>
      <td width="179"><img name="" src="" width="28" height="33" alt="" /></td>
      <td width="243"><div align="right"><a href="login">Log Out </a></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="243" rowspan="9"><strong>WELCOME TO ADMIN HOME</strong></td>
    </tr>
    <tr>
      <td><a href="a_aprv_arch">Approve Architects </a></td>
    </tr>
    <tr>
      <td><a href="a_aprv_ext">Approve Exteriors </a></td>
    </tr>
    <tr>
      <td><a href="a_view_arch">View Architects </a></td>
    </tr>
    <tr>
      <td><a href="a_view_ext">View Exteriors </a></td>
    </tr>
    <tr>
      <td><a href="#">Block  Accounts </a></td>
    </tr>
    <tr>
      <td><a href="a_vplan">View Plans </a></td>
    </tr>
    <tr>
      <td><a href="a_vdesign">View Designs  </a></td>
    </tr>
    <tr>
      <td><a href="a_view_comptitle">View Complaints </a></td>
    </tr>
    <tr>
      <td><a href="a_view_rating">View Rating </a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
