<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="350" border="1">
  <tr>
      <td>Customer Name </td>
      <td>{{d[7]}} {{d[8]}}</td>
    </tr>
    <tr>
      <td>Subject</td>
      <td>{{d[2]}}</td>
    </tr>
    <tr>
      <td>Complaint</td>
      <td>{{d[3]}}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{d[4]}}</td>
    </tr>
	<tr>
      <td>Architect/Exterior Id</td>
      <td>{{d[6]}}</td>
    </tr>
	<tr>
      <td>Architect/Exterior Name</td>
      <td>{{d[9]}} {{d[10]}}</td>
    </tr>
    <tr>
      <td>Reply</td>
      <td><label>
        <textarea name="textarea">{{d[5]}}</textarea>
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Reply" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
