<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="299" border="1">

    <tr>
  	  <td colspan="2"><div align="center">VIEW PLANS </div></td>
    </tr>

    <tr>
      <td width="62"><img name="" src="../static/image/{{d[9]}}" width="32" height="32" alt="noimg" /></td>
      <td width="221" rowspan="3"><img name="" src="../static/uploaddesign/{{d[1]}}" width="208" height="55" alt="noimg" /></td>
    </tr>
    <tr>
      <td>{{d[7]}} {{d[8]}}</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>{{d[2]}}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

  </table>
</form>
</body>
</html>
