<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="226" border="1">
    <tr>
      <td width="100">Exterior Id</td>
      <td width="100">Photo</td>
      <td width="100">Name</td>
      <td width="100">&nbsp;</td>
    </tr>
    {% for d in val %}
    <tr>
      <td>{{d[0]}}</td>
      <td><img src="../static/image/{{d[2]}}" alt="noimg" width="100" height="100"/></td>
      <td>{{d[1]}}</td>
      <td><a href="{{url_for('a_vmp_ext',id=d[0])}}">viewmore</a></td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
<p>&nbsp;</p>
</body>
</html>
