<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="429" border="1">
    <tr>
      <td width="111">&nbsp;</td>
      <td width="302" rowspan="4"><div align="center">WELCOME TO AR BUILDING </div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="login">login</a></td>
    </tr>
    <tr>
      <td>sign up</td>
    </tr>
     <tr>
      &nbsp;&nbsp;<td><a href="arch_signup">Architect</a></td>
    </tr>
      <tr>
      &nbsp;&nbsp;<td><a href="ext_signup">Exterior Designer</a></td>
    </tr>
  </table>
</form>
</body>
</html>
